

# This code is my kb PLay-Pause toggle, found with xmodmap -xpe & xev
# bindcode 172 exec playerctl play-pause

set $mon1 DVI-0
set $mon2 DisplayPort-0

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
        position top
        separator_symbol "■"
        strip_workspace_numbers yes
        tray_output $mon2
        colors {

                # class                    # border        #bg      # text  # indicator # child-border
                background                 $invert_faded
                focused_workspace          $primary $primary  $invert 
                active_workspace           $invert_outline $invert  $invert_outline 
                inactive_workspace         $invert_outline $invert  $invert_outline 
                urgent_workspace           $alert         $alert  $invert
                statusline $text
        }
        height 28
        i3bar_command i3bar -t
        status_command i3blocks
}

# Assign workspaces to monitors
# workspace $workspace1 output [Monitor COnnection]
workspace $wrk9 output $mon2
workspace $wrk10 output $mon2
workspace $wrk3 output $mon1 # Set editor to open on main mon always

# Pulse Audio controls
bindsym XF86AudioRaiseVolume exec amixer -q -D pulse sset Master 10%+ $update  #increase sound volume
bindsym XF86AudioLowerVolume exec amixer -q -D pulse sset Master 10%- $update #decrease sound volume
bindsym XF86AudioMute exec amixer -q -D pulse sset Master toggle $update # mute sound