
export PATH=$PATH:$HOME/programs/xtensa-esp32-elf/bin
# node
export PATH=$PATH:$HOME/programs/node-v8.11.1-linux-x64/bin
export PATH=/usr/share/bcc/tools:$PATH
export PATH=$PATH:$HOME/programs/station
export IDF_PATH=$HOME/programs/esp-idf
export PATH=$PATH:$HOME/programs/idea-IU-182.3684.101/bin

#export PATH=$PATH:$HOME/programs/go/bin
#export GOROOT=$HOME/programs/go
export GOPATH=$HOME/.go

# temp while gentoo stlink is broke
export PATH=$PATH:$HOME/programs/stlink/build/Release