
export PATH=$PATH:$HOME/programs/xtensa-esp32-elf/bin
export PATH=/usr/share/bcc/tools:$PATH
export PATH=$PATH:$HOME/programs/station
export PATH=$PATH:$HOME/programs/idea-IU-182.3684.101/bin

export IDF_PATH=$HOME/programs/esp-idf
export GOPATH=$HOME/.go

export PATH=$PATH:$HOME/programs/gcc-arm-none-eabi-8-2019-q3-update/bin
export PATH=$PATH:$HOME/programs/node-v10.16.3-linux-x64/bin
export PATH=$PATH:$HOME/programs/zola

alias esptool=$HOME/programs/esp-idf/components/esptool_py/esptool/esptool.py
alias vim="nvim"
alias vi="nvim"
